<br><br>
<div class="container">
	<br><br>
          <img  src="/img/1.jpg" alt="Second slide">
</div>
<br><br> 
<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img   src="/img/balon.jpg"  alt="">
		</div>
		<div class="slide">
        	 <img  src="/img/Bilaxten2.png" alt="Second slide">
		</div>
		<div class="slide">
          	<img  src="/img/Defal2.png" alt="Second slide">
        </div>
		<div class="slide">
          	<img  src="/img/Diotul.png" alt="Second slide">
        </div>
		<div class="slide">
			<img src="/img/Eclosynt 250.png"  alt="">
		</div>
		<div class="slide">
			<img  src="/img/balon.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Eclosynt Nas.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Idofix.png" alt="">
		</div>

		<div class="slide">
			<img src="/img/Iprasynt.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Lactofaes.png"  alt="">
		</div>
				<div class="slide">
			
			<img  src="/img/balon.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Lactofaes2.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Sacrusyt.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Venosmil.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Potenciator.png"  alt="">
		</div>
						<div class="slide">
			<img  src="/img/balon.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Positon.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Ferroprotina.png"  alt="">
		</div>
				<div class="slide">
			<img src="/img/DEFAL.png"  alt="">
		</div>

		<div class="slide">
			<img src="/img/Bilaxten.png"  alt="">
		</div>
				<div class="slide">
			<img src="/img/Hidroferol.png"  alt="">
		</div>

		<div class="slide">
			<img  src="/img/balon.jpg"  alt="">
		</div>
		<div class="slide">
        	 <img  src="/img/Bilaxten2.png" alt="Second slide">
		</div>
		<div class="slide">
          	<img  src="/img/Defal2.png" alt="Second slide">
        </div>
		<div class="slide">
          	<img  src="/img/Diotul.png" alt="Second slide">
        </div>
		<div class="slide">
			<img src="/img/Eclosynt 250.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/balon.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Eclosynt Nas.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Idofix.png" alt="">
		</div>

		<div class="slide">
			<img src="/img/Iprasynt.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Lactofaes.png"  alt="">
		</div>
				<div class="slide">
			
			<img src="/img/balon.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Lactofaes2.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Sacrusyt.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Venosmil.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Potenciator.png"  alt="">
		</div>
						<div class="slide">
			<img src="/img/balon.jpg"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Positon.png"  alt="">
		</div>
		<div class="slide">
			<img src="/img/Ferroprotina.png"  alt="">
		</div>
				<div class="slide">
			<img src="/img/DEFAL.png"  alt="">
		</div>

		<div class="slide">
			<img src="/img/Bilaxten.png"  alt="">
		</div>
				<div class="slide">
			<img src="/img/Hidroferol.png"  alt="">
		</div>

		<div class="slide">
			<img src="/img/balon.jpg"  alt="">
		</div>

	</div>
</div>
<br><br>